# Pandas Challenge

In [1]:
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

print(purchase_data.columns)
purchase_data.head()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

#  Player Count
 
Display the total number of players

In [3]:
# Player count

player_count = purchase_data["SN"].value_counts()
player_count_df = str(len(player_count.index))

totplay = pd.DataFrame([[player_count_df]],
                  index=[0], columns=["Total Players"])
totplayers = totplay.style.set_properties(**{'text-align': 'center'})
totplayers

# Purchasing Analysis (Total)

 
Run basic calculations to obtain number of unique items, average price, etc.

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [4]:
unique_items = purchase_data["Item Name"].unique()
unique_items = purchase_data["Item Name"].value_counts()
numunique = str(len(unique_items.index))
print(numunique)

179

In [5]:
avg_price = purchase_data["Price"].mean()
print(avg_price)

3.050987179487176

In [6]:
total_purchases = purchase_data["Purchase ID"].value_counts()
tot_purch = str(len(total_purchases.index))
print(len(total_purchases.index))

780

In [7]:
total_revenue = purchase_data["Price"].sum()
print(total_revenue)

2379.77

In [8]:
uniqueitems_avgp_totp_totr = {
    "Number of Unique Items": [numunique],
    "Average Price": [avg_price],
    "Number of Purchases": [tot_purch],
    "Total Revenue": [total_revenue]
}
All_Data = pd.DataFrame(uniqueitems_avgp_totp_totr)
All_Data_format = All_Data.copy()

# Format for currency and align center. 
All_Data_format["Average Price"] = All_Data_format["Average Price"].map('${:,.2f}'.format)
All_Data_format["Total Revenue"] = All_Data_format["Total Revenue"].map('${:,.2f}'.format)
All_Data_format = All_Data_format.style.set_properties(**{'text-align': 'center'})
All_Data_format

# Gender Demographics
 
Percentage and Count of Male Players

Percentage and Count of Female Players

Percentage and Count of Other / Non-Disclosed

In [9]:
gender_demos = purchase_data[["SN", "Gender"]].value_counts()
gender_demog = pd.DataFrame(gender_demos)

gender_demog = gender_demog.sort_values(by=["Gender"],ascending=False)

gender_demog = gender_demog.reset_index()
gender_demographics = gender_demog["Gender"].value_counts()
gender_demographics = pd.DataFrame(gender_demographics)

gender_demographics.rename(columns={"Gender": "Total Count"}, inplace=True)
gender_demographics = pd.DataFrame(gender_demographics)

total_players = (len(player_count.index))

percent_male = gender_demographics.loc['Male', 'Total Count']/total_players*100
percent_female = gender_demographics.loc['Female', 'Total Count']/total_players*100
percent_other = gender_demographics.loc['Other / Non-Disclosed', 'Total Count']/total_players*100
percent_column = [percent_male, percent_female, percent_other]
gender_demographics['Percentage of Players'] = percent_column
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map('{:.2f}%'.format)
gender_demographics = gender_demographics.style.set_properties(**{'text-align': 'center'}) 
                                                              
gender_demographics

# Purchasing Analysis (Gender)
 
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [10]:
pur_analysis = purchase_data[["Gender"]].value_counts()
pur_analysiss = pd.DataFrame(pur_analysis)
pur_analysiss = pur_analysiss.sort_values(by=["Gender"],ascending=True)
pur_analysiss.columns = ['Purchase Count']
purch_analysis = pd.DataFrame(pur_analysiss)


# print(purch_analysis)

purchases_by_gender = purchase_data["Gender"].value_counts()
total_purchases = purchases_by_gender.sum()
player_count = len(purchase_data["SN"].unique())

# Male players
male_purchases = purchases_by_gender["Male"]
female_purchases = purchases_by_gender["Female"]
other_purchases = total_purchases - (male_purchases + female_purchases)

male_purchases_only = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_avg_purchase_price = male_purchases_only["Price"].mean()
male_avg_purchase_price = round(male_avg_purchase_price, 2)

all_male_purchases = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_player_cnt = len(all_male_purchases["SN"].unique())

male_total_purchase_value = male_purchases_only["Price"].sum()
male_total_purchase_value = round(male_total_purchase_value, 2)

avg_male_purchase_per_player = male_total_purchase_value/male_player_cnt
avg_male_purchase_per_player = round(avg_male_purchase_per_player, 2)


# Female players
all_female_purchases = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_player_cnt = len(all_female_purchases["SN"].unique())

female_purchases_only = purchase_data.loc[purchase_data["Gender"] == "Female"]

female_avg_purchase_price = female_purchases_only["Price"].mean()
female_avg_purchase_price = round(female_avg_purchase_price, 2)

female_total_purchase_value = female_purchases_only["Price"].sum()
female_total_purchase_value = round(female_total_purchase_value, 2)

avg_female_purchase_per_player = female_total_purchase_value/female_player_cnt
avg_female_purchase_per_player = round(avg_female_purchase_per_player, 2)


# Other players
other_players = player_count - (male_player_cnt + female_player_cnt)
other_purchases_only = purchase_data.loc[((purchase_data["Gender"] != "Female") & (purchase_data["Gender"] != "Male")) ]


other_avg_purchase_price = other_purchases_only["Price"].mean()
other_avg_purchase_price = round(other_avg_purchase_price, 2)


other_total_purchase_value = other_purchases_only["Price"].sum()
other_total_purchase_value = round(other_total_purchase_value, 2)


avg_other_purchase_per_player = other_total_purchase_value/other_players
avg_other_purchase_per_player = round(avg_other_purchase_per_player, 2)


purchase_count_dict = {"Male":male_purchases, "Female":female_purchases, "Other / Non-Disclosed":other_purchases}
avg_purchase_price_dict = {"Male":male_avg_purchase_price, "Female":female_avg_purchase_price, "Other / Non-Disclosed":other_avg_purchase_price}
total_purchase_dict = {"Male":male_total_purchase_value, "Female":female_total_purchase_value, "Other / Non-Disclosed":other_total_purchase_value}
avg_purchase_per_player_dict = {"Male":avg_male_purchase_per_player, "Female":avg_female_purchase_per_player, "Other / Non-Disclosed":avg_other_purchase_per_player}

overall_table_dict = {"Purchase Count":purchase_count_dict, "Average Purchase Price":avg_purchase_price_dict,
                     "Total Purchase Value":total_purchase_dict, "Avg Total Purchase Per Person":avg_purchase_per_player_dict}

purchases_summary_stats_df = pd.DataFrame(overall_table_dict)

purchases_summary_stats_df['Average Purchase Price'] = purchases_summary_stats_df['Average Purchase Price'].map('${:,.2f}'.format)
purchases_summary_stats_df['Total Purchase Value'] = purchases_summary_stats_df['Total Purchase Value'].map('${:,.2f}'.format)
purchases_summary_stats_df['Avg Total Purchase Per Person'] = purchases_summary_stats_df['Avg Total Purchase Per Person'].map('${:,.2f}'.format)


purchases_summary_stats_df.index.name = "Gender"
purchases_summary_stats_df = purchases_summary_stats_df.sort_values(by=["Gender"],ascending=True)
purchases_summary_stats_df = purchases_summary_stats_df.style.set_properties(**{'text-align': 'center'})
purchases_summary_stats_df

# Age Demographics
 
Establish bins for ages

Categorize the existing players using the age bins. Hint: use pd.cut()

Calculate the numbers and percentages by age group

Create a summary data frame to hold the results

Optional: round the percentage column to two decimal points

Display Age Demographics Table

In [11]:
unique_players = purchase_data.loc[:, ["SN", "Age"]].groupby("SN").mean()
unique_players

                Age
SN
Adairialis76   16.0
Adastirin33    35.0
Aeda94         17.0
Aela59         21.0
Aelaria33      23.0
...             ...
Yathecal82     20.0
Yathedeu43     22.0
Yoishirrala98  17.0
Zhisrisu83     10.0
Zontibe81      21.0

[576 rows x 1 columns]

In [12]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df = pd.cut(unique_players["Age"], bins, labels=bin_labels)

age_table_df = pd.DataFrame(age_df.value_counts())
age_table_df["Percentage of Players"] = (age_table_df["Age"]/player_count).map("{:.2%}".format)

age_table_df.index.name = "Age"
age_table_df.columns = ["Player Count", "Percentage of Players"]
age_table_df.reindex(bin_labels)

       Player Count Percentage of Players
Age
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40+              12                 2.08%

# Purchasing Analysis (Age)
 
Bin the purchase_data data frame by age

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [13]:
purchase_data_copy = purchase_data.copy()

bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_copy["Age"] = pd.cut(purchase_data_copy["Age"], bins, labels=bin_labels)

age_summary_df = purchase_data_copy.groupby("Age").count()

age_summary_df = age_summary_df.drop([age_summary_df.columns[a] for a in range(1, len(age_summary_df.columns))], axis=1)
age_summary_df.columns = ["Purchase Count"]


avg_purchase_price_df = purchase_data_copy.groupby("Age").mean()
avg_purchase_price_df = avg_purchase_price_df.loc[:, "Price"].map("${:.2f}".format)

age_summary_df = age_summary_df.merge(avg_purchase_price_df, on="Age")
update_cols = list(age_summary_df.columns)
update_cols[-1] = "Average Purchase Price"
age_summary_df.columns = update_cols


total_purchase_price_df = purchase_data_copy.groupby("Age").sum()
total_purchase_price_df = total_purchase_price_df.loc[:, "Price"].map("${:.2f}".format)

age_summary_df = age_summary_df.merge(total_purchase_price_df, on="Age")
update_cols = list(age_summary_df.columns)
update_cols[-1] = "Total Purchase Price"
age_summary_df.columns = update_cols


avg_total_purchase_price_df = purchase_data_copy.groupby("Age").sum()
avg_total_purchase_price_df = pd.DataFrame(avg_total_purchase_price_df.loc[:, "Price"]).merge(
    age_table_df.loc[:, "Player Count"], on="Age")
avg_total_purchase_price_df["Avg Total Purchase Per Person"] = avg_total_purchase_price_df["Price"]/avg_total_purchase_price_df["Player Count"]

avg_total_purchase_price_df = avg_total_purchase_price_df.loc[:, "Avg Total Purchase Per Person"].map("${:.2f}".format)

age_summary_df = age_summary_df.merge(avg_total_purchase_price_df, on="Age")
update_cols = list(age_summary_df.columns)
update_cols[-1] = "Avg Total Purchase Per Person"
age_summary_df.columns = update_cols

age_summary_df = age_summary_df.style.set_properties(**{'text-align': 'center'})
age_summary_df

# Top Spenders
 
Run basic calculations to obtain the results in the table below

Create a summary data frame to hold the results

Sort the total purchase value column in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the summary data frame

In [14]:
top_spenders_df = pd.DataFrame(purchase_data.groupby("SN").count())

top_spenders_df = top_spenders_df.drop([top_spenders_df.columns[a] for a in range(1, len(top_spenders_df.columns))], axis=1)
top_spenders_df.columns = ["Purchase Count"]


avg_spent_df = pd.DataFrame(purchase_data.groupby("SN").mean())
avg_spent_df = avg_spent_df.loc[:, "Price"].map("${:.2f}".format)

top_spenders_df = top_spenders_df.merge(avg_spent_df, on="SN")
update_cols = list(top_spenders_df.columns)
update_cols[-1] = "Average Purchase Price"
top_spenders_df.columns = update_cols


total_spent_df = pd.DataFrame(purchase_data.groupby("SN").sum())

total_spent_df = total_spent_df.loc[:, "Price"]

top_spenders_df = top_spenders_df.merge(total_spent_df, on="SN")
update_cols = list(top_spenders_df.columns)
update_cols[-1] = "Total Purchase Price"
top_spenders_df.columns = update_cols

top_spenders_df = top_spenders_df.sort_values(by="Total Purchase Price", ascending=False)

top_spenders_df["Total Purchase Price"] = top_spenders_df["Total Purchase Price"].map("${:.2f}".format)

top_spenders_df.head(7)

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10
Ilarin91                  3                  $4.23               $12.70
Ialallo29                 3                  $3.95               $11.84

# Most Popular Items
 
Retrieve the Item ID, Item Name, and Item Price columns

Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

Create a summary data frame to hold the results

Sort the purchase count column in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the summary data frame

In [15]:
pop_items = purchase_data[["Item ID", "Item Name", "Price"]]
group_by_item = pop_items.groupby(["Item ID", "Item Name"])

pop_items = pd.DataFrame(group_by_item.mean())
pop_items.columns = ["Item Price (Average)"]

item_purchase_count = group_by_item.count()
pop_items["Purchase Count"] = item_purchase_count

item_purchase_total = group_by_item.sum()
pop_items["Purchase Amount"] = item_purchase_total

pop_items = pop_items.sort_values(by="Purchase Count", ascending=False)

formatted_pop_items = pop_items.copy()
formatted_pop_items["Item Price (Average)"] = pop_items["Item Price (Average)"].map("${:.2f}".format)
formatted_pop_items["Purchase Amount"] = pop_items["Purchase Amount"].map("${:.2f}".format)
formatted_pop_items.head(10)

,,Item Price (Average),Purchase Count,Purchase Amount
Item ID,Item Name,,,
92,Final Critic,$4.61,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
145,Fiery Glass Crusader,$4.58,9,$41.22
132,Persuasion,$3.22,9,$28.99
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
82,Nirvana,$4.90,9,$44.10
75,Brutality Ivory Warmace,$2.42,8,$19.36
103,Singed Scalpel,$4.35,8,$34.80
34,Retribution Axe,$2.22,8,$17.76
37,"Shadow Strike, Glory of Ending Hope",$3.16,8,$25.28

# Most Profitable Items
 
Sort the above table by total purchase value in descending order

Optional: give the displayed data cleaner formatting

Display a preview of the data frame

In [16]:
money_items = pop_items.copy()
money_items = money_items.sort_values(by="Purchase Amount", ascending=False)


formatted_money_items = money_items.copy()
formatted_money_items["Item Price (Average)"] = money_items["Item Price (Average)"].map("${:.2f}".format)
formatted_money_items["Purchase Amount"] = money_items["Purchase Amount"].map("${:.2f}".format)

formatted_money_items.head(10)

,,Item Price (Average),Purchase Count,Purchase Amount
Item ID,Item Name,,,
92,Final Critic,$4.61,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22
103,Singed Scalpel,$4.35,8,$34.80
59,"Lightning, Etcher of the King",$4.23,8,$33.84
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
78,"Glimmer, Ender of the Moon",$4.40,7,$30.80
72,Winter's Bite,$3.77,8,$30.16
132,Persuasion,$3.22,9,$28.99

# Observable Trends

1. We can observe that the majority of players are male, with a total count of male players at 484, or over 84%. 
2. After reviewing demographics data, we can see that the majority of purchases were made by young males, between
   the ages of 15 through 29. 
3. The most popular item, and one that also generated more revenue was Final Critic. It generated $59.99 in total revenue, and
   was purchased 13 times.